@media screen and (max-width: 500px) {
    /*Блок переключения языка*/
    div.lang p.lang_btn a {
        font-size: 1.1rem;
    }

	/*Шапка, основная навигация*/
   nav.main_menu ul li {font-size: 1.8em;}

    /*ФУТЕР*/
    .footer-phone-mail img[alt="Почта"] {display: none;}


    /* ===================== */
    /*ПОЛОСА БАНЕРОВ*/
    /* ===================== */
    .band-banner img {height: 5em;}


    /*ГЛАВНАЯ*/
    /*второй блок*/
    .main-second-block h1 {font-size: 1.8em;}
    .carousel-item .table-new td {font-size: 1.2rem;}


    /*ЗАКУПКИ*/
    .purchase-window h1 {font-size: 2.0rem}
    .purchase-window p, .purchase-number {font-size: 1.2rem}
    .purchase td {font-size: 1.0rem;}


    /*КОНТАКТЫ*/
    .site-contact td {font-size: 1.5rem;}
    .yandex-map {display: none;}


    /*ПРОДУКЦИЯ*/
    .site-bottle-archive h1,
    .site-bottle-kpnv h1,
    .site-bottle-kpnn h1,
    .site-bottle-vkp h1,
    .site-bottle-other h1 {
        font-size: 1.6rem;
    }


}